@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type="button"], input[type="submit"], button {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    color: #000;
}

body {
    min-height: 100vh; 
    padding: 30px 0;
    background-color: #edede9; /* Light gray background */
    font-family: 'Arial', sans-serif;
}

.calculator {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: #d6ccc2; /* White background for the calculator */
    border-radius: 10px;
    border: 2px solid #5b5954;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
} 

.display {
    background-color: #f5ebe0; /* Light gray background */
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #d5bdaf;
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
  }
  
.expression {
    font-size: 18px;
    color: #555; /* Dark gray for the expression */
    text-align: right;
    min-height: 20px;
}
  
.result {
    font-size: 32px;
    color: #000; /* Black for the result */
    text-align: right;
    min-height: 40px;
}

.button-row {
    display: flex;
    width: 100%; 
}

button {
    flex: 1;
    padding: 20px;
    font-size: 24px;
    border: 1px solid #d5bdaf;
    background-color: #e3d5ca; /* Light pastel background for buttons */
    cursor: pointer;
    outline: none;
    border-radius: 10px; 
    margin: 5px; 
}
  
button:hover {
    background-color: #ccb6ac; /* Slightly darker on hover */
}
  
button:active {
    background-color: #d6ccc2;
}

/* Operator buttons */
button.operator {
    background-color: #f5ebe0;
}

button.operator:hover {
    background-color: #ccb6ac; 
}
  
/* Equals button */
#equals {
    background-color: #f5ebe0; /* Pastel blue */
}
  
#equals:hover {
    background-color: #ccb6ac;
}
  
/* Clear and Delete buttons */
#clear, #delete {
    background-color: #d5bdaf; /* Pastel red */
}
  
#clear:hover, #delete:hover {
    background-color: #ccb6ac;
}

button {
    flex: 1;
    margin: 5px; /* Adjust spacing between buttons */
    border-radius: 10px; /* Rounded corners for all buttons */
    border: 2px solid #d5bdaf; /* Softer border around buttons */
}